/* primary font - General Sans */
@import url("https://fonts.cdnfonts.com/css/general-sans");

@import "tailwindcss";

/* for dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* colors */
  --color-primary-blue: oklch(0.3112 0.1345 262.74);
  --color-mouse-pressed-blue: oklch(0.4123 0.1717 262.75);
  --color-main-blue: oklch(0.5146 0.2025 262.8);
  --color-hover-blue: oklch(0.69 0.1623 263.67);
  --color-primary5-blue: oklch(0.8686 0.0641 264.59);
  --color-primary6-blue: oklch(0.9693 0.0144 264.5);
  --color-box-outline: oklch(0.8765 0.0056 274.96);
  --color-primary-text: oklch(0.2492 0.0363 265.49);
  --color-sub-text: oklch(0.4841 0.0227 262.91);
  --color-error-red: oklch(0.5683 0.2157 27.65);
  --color-success-green: oklch(0.7471 0.2315 144.6);
  --color-information-purple: oklch(0.446 0.2505 277.18);
  --color-warning-orange: oklch(0.6872 0.1468 62.72);
  --color-blue-gradient: oklch(0.8665 0.0651 265.84);
  --color-warning-faidorange: oklch(0.9246 0.0845 86.39);
  --color-dark-overlay: hsl(228, 28%, 20%);
  --color-dark-hover: hsl(230, 17%, 14%);

  /*Dark*/

  /* font */
  --font-general-sans: "General Sans", sans-serif;

  /* responsive */
  --breakpoint-xs: 12.5rem; /* 200px */
}

/* custom styling */

* {
  @apply transition-colors duration-200;
}
.inputbox {
  @apply w-full border border-box-outline rounded-lg px-3 py-2 focus:outline-none;
}
.wrapper {
  @apply max-w-7xl mx-auto my-0 px-8 py-3;
}
.auth-btn {
  @apply w-full bg-main-blue text-white py-2 rounded-lg hover:bg-mouse-pressed-blue transition-colors duration-200 cursor-pointer;
}
.auth-role-link {
  @apply block text-center mt-5 text-main-blue cursor-pointer;
}
.showError {
  @apply text-error-red my-2 text-sm font-general-sans;
}
.back-page-link {
  @apply flex items-center text-gray-400 hover:text-main-blue transition-colors duration-200 text-sm font-medium cursor-pointer;
}
.heroStateBar-num {
  @apply xs:text-2xl md:text-3xl font-bold text-primary-text;
}
.heroStateBar-title {
  @apply text-sub-text text-sm mt-1;
}
.navbar-center-link {
  @apply text-primary-text hover:text-hover-blue;
}
.mobile-nav-link {
  @apply block text-primary-text hover:text-main-blue transition text-left py-2 px-4 hover:bg-primary6-blue rounded;
}
.side-nav-title {
  @apply text-sm font-semibold text-sub-text py-1 mb-1;
}
.side-nav-link {
  @apply flex gap-2 items-center px-3 py-3 rounded-md mb-1 transition;
}
.export-btn {
  @apply flex justify-between items-center gap-1 border border-main-blue px-3 py-1 text-main-blue rounded;
}
.overview-btn {
  @apply border border-box-outline px-3 py-1 rounded-md cursor-pointer hover:border-red-500 hover:text-red-500;
}
.createSchedule-label {
  @apply block text-sm font-medium text-primary-text mb-1;
}
.createSchedule-option {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-main-blue text-sub-text;
}
.scheduleClose-btn {
  @apply absolute top-4 right-4 text-sub-text bg-box-outline rounded-md hover:text-primary-text transition;
}
.schedulebtn-popup {
  @apply fixed inset-0 bg-black/20 backdrop-blur-sm flex items-center justify-center z-50 p-4;
}
.schedulepopup-title {
  @apply text-xl font-semibold text-primary-text;
}
.schedulesession-checkbox {
  @apply h-4 w-4 text-primary-blue;
}
.overview-btn {
  @apply flex items-center gap-2 border border-box-outline px-3 py-1 rounded-md bg-white text-sm;
}
.overview-status-btn {
  @apply px-3 py-1 border border-gray-300 rounded-md bg-gray-100 text-sm cursor-pointer;
}
